*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.galeria div{
  width: 30%;
  display: inline-block;
}

.img1{
  filter: drop-shadow(0 0 50px red);
}

.img2{
  filter: drop-shadow(0 0 50px green);
  
}



.img3{
  filter: drop-shadow(0 0 50px aqua);
}

.img4{
  filter: drop-shadow(0 0 50px green);
}



